body {
    font-family: "Poopins", sans-seriff;
    min-height: 100em;
    background: whitesmoke;
}

.wrapper {
    width: 420px;
    background: lightgray;
    color: black;
}

/* navbar style*/ 
.navbar {
    top: 0;
}

.navbar ul {
    list-style-type: none;
    background-color: lightgrey;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
}

.navbar a {
    color: white;
    text-decoration: none;
    padding: 15px;
    display: block;
    display: inline-block;
    text-align: center;
}

.navbar a:hover {
    background-color: hsl(0, 0%, 10%);
}

.navbar li {
    float: left;
}

.navbar span {
    color: white;
    padding: 15px; 
    display: block;
    display: inline-block;
    color: black;
}

.login-wrapper {
    display: flex;
    padding-top: 50px;
    justify-content: center;
}

/* Admin Page CSS*/
body {
    height: 100em;
    padding: 0px;
    margin: 0px;
}

.main-container {
    display: flex;
    padding: 0px;
    margin: 0px;
    flex-flow: column wrap;
}

.nav-bar {
    display: flex;
    flex-flow: row wrap;
    align-items: baseline;
    background: lightgray;
    padding-right: 40px;
    padding-left: 40px;
}

.nav-bar a{
    color: black;
    text-decoration: underline;
}

#nav-logo{
    flex: 1;
}



